
#container {
	text-align: center;
	margin: 20px 0;
}

h2, ul, p {
	font-family: "Helvetica Neue", sans-serif;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

a, a:visited {
	color: darkblue;
	text-decoration: none;
}
